include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include docs *.rst
include requirements/base.txt requirements/test.txt
recursive-include django_docutils *.py
