[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
docutils = ">=0.12"
alagitpull = "<1"
coverage = "*"
pytest = "<6"
flake8 = "<4"
tox = "*"
Sphinx = ">=2.0.0"
isort = "<5"
black = "==19.10b0"
sphinx-issues = "<2"
pytest-cov = "*"
factory-boy = "*"
pytest-factoryboy = "*"
pytest-django = "*"
dj-inmemorystorage = "*"
responses = "*"
django-guardian = "*"
django-extensions = "*"
django-randomslugfield = "*"
django-slugify-processor = "*"
django-dirtyfields = "*"
lxml = "*"
tldextract = "*"
tqdm = "*"
Django = ">=2.2"
Pygments = "*"

[packages]
django-docutils = {editable = true,path = "."}
docutils = ">=0.12"
django-guardian = "*"
django-extensions = "*"
django-randomslugfield = "*"
django-slugify-processor = "*"
django-dirtyfields = "*"
lxml = "*"
tldextract = "*"
tqdm = "*"
Django = ">=2.2"
Pygments = "*"

[requires]
python_version = "3"
