[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
docutils = "*"
alagitpull = "*"
coverage = "*"
pytest = "*"
flake8 = "*"
tox = "*"
Django = ">=1.8"
Sphinx = ">=2.0.0"
django-docutils = {path = ".",editable = true}
isort = "*"
black = "==19.3b0"
sphinx-issues = "*"
pytest-cov = "*"

[packages]
django-docutils = {editable = true,path = "."}
docutils = ">=0.12"
Django = ">=2.2"

[requires]
python_version = "3"
