[tool.poetry]
name = "django-docutils"
version = "0.9.0"
description = "Documentation Utilities (Docutils, reStructuredText) for django.)"

license = "MIT"

authors = [
  "Tony Narlock <tony@git-pull.com>",
]

readme = "README.md"
packages = [
  { include = "*", from = "src" },
]
classifiers = [
  'Development Status :: 2 - Pre-Alpha',
  'Framework :: Django',
  'Framework :: Django :: 3.1',
  'Framework :: Django :: 3.2',
  'Framework :: Django :: 4.0',
  'Framework :: Django :: 4.1',
  'Intended Audience :: Developers',
  'License :: OSI Approved :: MIT License',
  'Natural Language :: English',
  'Programming Language :: Python :: 3',
  'Programming Language :: Python :: 3.8',
  'Programming Language :: Python :: 3.9',
  'Programming Language :: Python :: 3.10',
]
keywords = ["django", "docutils", "reStructuredText", "rst", "reST"]

homepage = "https://django-docutils.git-pull.com"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/tony/django-docutils/issues"
Documentation = "https://django-docutils.git-pull.com"
Repository = "https://github.com/tony/django-docutils"
Changes = "https://github.com/tony/django-docutils/blob/master/CHANGES"
"Q & A" = "https://github.com/tony/django-docutils/discussions"

[tool.poetry.dependencies]
python = "^3.8"
Django = ">=3.2"
docutils = "*"
tldextract = "*"
tqdm = "*"
pygments = "<3"
django-extensions = "*"
django-randomslugfield = "*"
django-slugify-processor = "*"
django-dirtyfields = ">1.3.0"
lxml = "*"
bitly-api-py3 = "*"

[tool.poetry.group.dev.dependencies]
### Docs ###
sphinx = "*"
furo = "*"
gp-libs = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
sphinx-click = "*"
sphinx-inline-tabs = "<2023.4.21"  # For Python 3.7 support
sphinxext-opengraph = "<0.8"  # https://github.com/wpilibsuite/sphinxext-opengraph/issues/100
sphinx-copybutton = "*"
sphinxext-rediraffe = "*"
myst_parser = ">=0.18.1"

### Testing ###
pytest = "*"
pytest-rerunfailures = "*"
pytest-mock = "*"
pytest-watcher = "*"
factory-boy = "*"
pytest-factoryboy = "*"
pytest-django = "*"
dj-inmemorystorage = "*"
responses = "*"

### Coverage ###
codecov = "*"
coverage = "*"
pytest-cov = "*"

### Lint ###
black = "*"
ruff = "*"
mypy = "*"
django-stubs = "*"
types-docutils = "*"
types-Pygments = "*"
types-requests = "*"
types-six = "*"
types-tqdm = "*"
lxml-stubs = "*"

[tool.poetry.extras]
# Development stuff
docs = [
  "sphinx",
  "sphinx-click",
  "sphinx-autodoc-typehints",
  "sphinx-autobuild",
  "sphinxext-rediraffe",
  "sphinx-copybutton",
  "sphinxext-opengraph",
  "sphinx-inline-tabs",
  "myst_parser",
  "furo",
  "gp-libs",
]
test = [
  "pytest",
  "pytest-rerunfailures",
  "pytest-mock",
  "pytest-watcher",
  "factory-boy",
  "pytest-factoryboy",
  "pytest-django",
  "dj-inmemorystorage",
  "responses",
]
coverage = ["codecov", "coverage", "pytest-cov"]
lint = [
  "ruff",
  "mypy",
  "django-stubs",
  "types-docutils",
  "types-pygments",
  "types-six",
  "types-requests",
  "types-tqdm",
  "lxml-stubs",
]

[tool.mypy]
plugins = ["mypy_django_plugin.main"]
files = [
  "src/",
  "tests/",
]

[tool.django-stubs]
django_settings_module = "tests.settings"

[[tool.mypy.overrides]]
module = [
  "amazon.*",
  "bitly_api.*",
  "factory.*",
  "inmemorystorage.*",
  "randomslugfield.*",
  "dirtyfields.*",
  "django_extensions.*",
  "django_slugify_processor.*",
  "django_docutils.*",
]
ignore_missing_imports = true

[build-system]
requires = ["poetry_core>=1.0.0", "poetry>=1.1.12"]
build-backend = "poetry.core.masonry.api"
